.container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
}

.square {
    border: 1px solid lightgrey;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.hovered {
    background-color: teal;
    border-color: teal;
}